
@media (max-width: 1024px) {
  .burger-bar {
    display: flex;
  }
  .navigation {
    display: none;
  }
  .section-1 {
    max-width: 1184px;
    height: 813px;
    width: 90%;
    margin: 0 auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: column-reverse;
  }
  .text-div {
    max-width: 100%;
    column-gap: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 64px;
  }
  h1 {
    width: 80%;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
  }
  .top-p {
    font-family: "Inter";
    width: 412px;
    color: rgba(25, 24, 37, 0.5);
  }
  .top-destination {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 287px;
  }
  .explore-h2 {
    margin: 16px 0px 64px 0px;
  }
  .title-price {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }


  .section-3 {
    max-width: 1440px;
    width: 92%;
    /* margin: 197px auto 0 auto; */
  }
  .section-mini {
    display: flex;
    flex-direction: column;
    max-width: 110%;
  }
  .travel-div {
    width: 100%;
    text-align: center;
  }
  .travel-h2 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px;
  }
  .btn-btn {
    margin-bottom: 4%;
    width: 48%;
    
  }
 
}




@media (max-width: 430px) {
    .burger-bar {
        order:2;
    }
    .sign-wraper {
        display: none;
    }
    .logo {
        order: 1;
    }
    h1 {
      width: 90%;
      font-size: 40px;
      font-weight: 700;
      line-height: 48px;
    }
    .top-p {
      font-family: "Inter";
      font-weight: 400;
      font-size: 16px;
      line-height: 25.6px;
      width: 100%;
      color: rgba(25, 24, 37, 0.5);
    }
    .buttons-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .button-GetStarted {
      width: 100%;
      height: 65px;
    }
    .button-WatchDemo {
      width: 100%;
      height: 72px;
      position: relative;
    }
    .image-demo {
      position: absolute;
      top: 11px;
      left: calc(35%);
      padding-right: 12px;
    }
    .top-destination {
      margin: 0;
    }
    .top-text {
      margin-top: 145px;
    }
    .top-h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 19.2px;
      margin-bottom: 16px;
    }
    .explore-h2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 38.4px;
    }
    .btns {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .btn-arrow-left {
      width: 64px;
      height: 64px;
    }
    .btn-arrow-right {
      width: 64px;
      height: 64px;
    }
    .cards-div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 100%;
      margin-top: 32px;
    }
    .section-3 {
      margin: 0 auto;
    }
    .btn-boxes {
      flex-direction: column;
    }
    .btn-btn {
      width: 100%;
    }
}


