/* header styles */
.header-container {
  max-width: 1184px;
  width: 90%;
  margin: 0 auto;
  padding: 32px 0px;
}
.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ul-el {
  display: flex;
  width: 428px;
  column-gap: 64px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(25, 24, 37, 0.5)
}
.login {
  padding-right: 32px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
}
.sign {
  width: 115px;
  height: 49px;
  background-color: #5d50c6;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.sign-wraper {
  display: flex;
  align-items: center;
}
.burger-bar {
  width: 39.9px;
  height: 40px;
  background-color: #5d50c6;
  border-radius: 15px;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

/* main styling  */

.section-1 {
  max-width: 1184px;
  height: 606px;
  width: 90%;
  margin: 0 auto;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;

}
.text-div {
  max-width: 100%;
  height: 478px;
  column-gap: 43px;
  /* background-color: bisque; */
}
h1 {
  width: 412px;
  font-size: 69px;
  font-weight: 700;
  line-height: 82.8px;
}
.top-span {
  color: rgba(248, 94, 159, 1);
}
.top-p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  width: 412px;
  color: rgba(25, 24, 37, 0.5);
  padding: 43px 0px;
}
.image-div {
  max-width: 100%;
}
.image-top {
  width: 100%;
}
.buttons-div {
  /* background-color: blue; */
  height: 100px;
  display: flex;
  gap: 16px;
}
.button-GetStarted {
  background-color: rgba(93, 80, 198, 1);
  width: 141px;
  height: 51px;
  border-radius: 100px;
  border-style: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.button-WatchDemo {
  background-color: rgb(255, 255, 255);
  width: 181px;
  height: 56px;
  border-radius: 100px;
  border-color: rgba(238, 238, 238, 1);
  border-style: solid;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(34, 40, 49, 1);
  position: relative;
  padding-left: 43px;
}
.image-demo {
  position: absolute;
  top: 16px;
  left: 34px;
}
.section-2 {
  max-width: 1184px;
  width: 90%;
  margin: 197px auto 0 auto;
  /* background-color: aquamarine; */
}

.top-h3 {
  font-weight: 700;
  font-size: 23px;
  line-height: 27.6px;
  margin-bottom: 16px;
  color: rgba(248, 94, 159, 1);
}
.explore-h2 {
  font-weight: 700;
  font-size: 44px;
  line-height: 52.8px;
  color: rgba(25, 24, 37, 1);
}
.top-destination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0 64px 0;
  
}
.btns {
  display: flex;
  gap: 32px;
}
.btn-arrow-left {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-color: rgba(25, 24, 37, 0.1);
  background-color: rgba(255, 255, 255, 1);
}
.btn-arrow-right {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-color: rgba(25, 24, 37, 0.1);
  background-color: rgba(93, 80, 198, 1);
}
.cards-div {
  display: flex;
  max-width: 100%;
  margin-bottom: 64px;
  /* background-color: bisque; */
}
.card {
  width: 32%;
  border-radius: 32px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.card-2 {
  margin: 0px 2%;
}
.card-text {
  /* background-color: chocolate; */
  width: 80%;
  margin: 32px;
}
.title-price {
  display: flex;
}
.card-title {
  width: 82%;
  font-weight: 700;
  font-size: 23px;
  line-height: 27.6px;
  color: rgba(25, 24, 37, 1);
}
.card-price {
  font-weight: 700;
  font-size: 23px;
  line-height: 27.6px;
  color:rgba(248, 94, 159, 1);
}
.country-place {
  margin: 16px 0 32px 0;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: rgba(25, 24, 37, 0.75);
}
.ranking {
  display: flex;
  font-weight: 700;
  font-size: 23px;
  line-height: 27.6px;
  gap: 8px;
  color:rgba(255, 87, 34, 1);
}






.section-3 {
  max-width: 1440px;
  width: 92%;
  /* margin: 197px auto 0 auto; */
}
.section-mini {
  width: 100%;
  display: flex;
}
.travel-girl {
  width: 100%;
  margin-top: 64px;
}
.img-girl {
  width: 100%;
}
.travel-div {
  width: 48%;
}
.travel-point {
  margin-top: 94px;
  margin-bottom: 64px;
}
.travel-h2 {
  margin: 16px 0px;;
}
.btn-top {
  display: flex;
  text-align: center;
}
.btn-boxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.btn-btn {
  margin-bottom: 4%;
  width: 48%;
  height: 151px;
  border-radius: 32px;
  border-width: 2px;
  border-style: solid;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(25, 24, 37, 0.1);
}
h6 {
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 14px;
  color: rgba(255, 87, 34, 1);
}
.holiday {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: rgba(25, 24, 37, 1);
}


.section-4 {
  max-width: 1312px;
  width: 92%;
  margin: 0 auto;
}
.extra-div {
  width: 100%;
}

.icons-div {
  display: flex;
  /* margin-top: 64px; */
  padding: 30px;
}
.icon {
  margin-right: 32px;
}
.icon-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: center;
}
.Paragraph-section4 {
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  color: rgba(25, 24, 37, 0.5);
}
.middle-div {
  border-width: 2px;
  padding: 30px;
  border-radius: 32px;
  border-style: solid;
  border-color: black;
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(25, 24, 37, 0.1);
}